/*impostazioni generali*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*impostazioni header e nav*/

.container{
    margin: auto;
    background-color: red;
    max-width: 1300px;
    height: 60px;
    display: flex;
}

.row-menu-header{
    background-color:darkorange;
    height: 25px;
    width: 1300px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.col-logo, .col-button-start{
    border: 1px dashed black;
    width: 10%;
    height: 100%
}

.col-link-left, .col-link-right{
    border: 1px dashed black;
    width: 40%;
    height: 100%
}

/*impostazioni logo, link e lista*/

ul{
    list-style-type: none;

}

ul li{
    display: inline-block;
}

a{
    text-decoration: none;
    display: inline-block;
}

.col-link-right, .col-button-start{
    text-align: right;
}

/*impostazioni prima sezione main - jumbodrone*/

.container-jumbodrone{
    background-color: rgb(103, 77, 182);
    max-width: 1300px;
    height: 500px;
    display: flex;
    margin: 0 auto;
}

.container-jumbodrone-down{
    height: 100px;
    max-width: 1300px;
    background-color: yellow;
    margin: 0 auto;
}

.row-jumbodrone{
    background-color: brown;
    height: 120%;
    width: 850px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.col40-jumbodrone{
    background-color: aqua;
    border: 1px dashed black;
    width: 60%;
    height: 100%; 
}

.col60-jumbodrone{
    background-color: rgb(254, 177, 255);
    border: 1px dashed black;
    width: 40%;
    height: 100%; 
}