/*impostazioni generali*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*impostazioni header e nav*/

.container{
    margin: auto;
    background-color: red;
    max-width: 1300px;
    height: 60px;
    display: flex;
}

.row-menu-header{
    background-color:darkorange;
    height: 25px;
    width: 1300px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.col-logo, .col-button-start{
    border: 1px dashed black;
    width: 10%;
    height: 100%
}

.col-link-left, .col-link-right{
    border: 1px dashed black;
    width: 40%;
    height: 100%
}

/*impostazioni logo, link e lista*/

ul{
    list-style-type: none;

}

ul li{
    display: inline-block;
}

a{
    text-decoration: none;
    display: inline-block;
}

.col-link-right, .col-button-start{
    text-align: right;
}

/*impostazioni prima sezione main - jumbodrone*/

.container-jumbodrone{
    background-color: rgb(103, 77, 182);
    max-width: 1300px;
    height: 300px;
    display: flex;
    margin: 0 auto;
}

.row-jumbodrone{
    background-color: brown;
    height: 120%;
    width: 850px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.col40-jumbodrone{
    background-color: aqua;
    border: 1px dashed black;
    width: 40%;
    height: 80%; 
}

.col60-jumbodrone{
    background-color: rgb(254, 177, 255);
    border: 1px dashed black;
    width: 60%;
    height: 80%; 
}

/*impostazioni prima sezione jumbodrone-up titolo*/

.container-jumbodrone-up{
    height: 200px;
    max-width: 1300px;
    background-color: yellow;
    margin: 0 auto;
}

.row-jumbodrone-up{
    background-color: rgb(42, 165, 153);
    height: 100%;
    width: 850px;
    margin: auto;
    align-items: center;
}

.col100-jumbodrone{
    background-color: aqua;
    border: 1px dashed black;
    width: 100%;
    height: 100%; 
}

.title{
    font-size: 60px;
}

/*impostazioni seconda sezione sotto-titolo e bottoni di fatturazione*/

.container-central{
    height: 200px;
    max-width: 1300px;
    background-color: yellow;
    margin: 0 auto;
}

.row-container-central{
    height: 200px;
    max-width: 55%;
    background-color: brown;
    margin: 0 auto;
}

.col-button-price{
    background-color: aqua;
    border: 1px dashed black;
    width: 100%;
    height: 200px; 
}

/*impostazioni terza sezione piani di business*/

.container-plan-business{
    height: 700px;
    max-width: 1300px;
    background-color: rgb(151, 151, 145);
    margin: 0 auto;
}

.row-plan-business{
    height: 700px;
    max-width: 55%;
    background-color: brown;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.col33-plan-business{
    background-color: aqua;
    border: 1px dashed black;
    width: calc(100% / 3 - 20px);
    height: 700px;
    display: inline-block;
}

/*impostazioni quarta sezione piano per le aziende*/

.container-team-enterprice{
    height: 300px;
    max-width: 1300px;
    background-color: yellow;
    margin: 0 auto;
}

.row-team-enterprice{
    height: 300px;
    max-width: 55%;
    background-color: brown;
    margin: 0 auto;
}

.col-team-enterprice{
    background-color: aqua;
    border: 1px dashed black;
    width: 100%;
    height: 300px; 
}

/*impostazioni quinta sezione trova un partner*/

.container-partner-contact{
    height: 500px;
    max-width: 1300px;
    background-color: rgb(151, 151, 145);;
    margin: 0 auto;
}

.row-partner-contact{
    height: 500px;
    max-width: 55%;
    background-color: brown;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.col60-partner-contact{
    background-color: aqua;
    border: 1px dashed black;
    width: 60%;
    height: 100%; 
}

.col40-partner-contact{
    background-color: rgb(254, 177, 255);
    border: 1px dashed black;
    width: 40%;
    height: 100%; 
}

/*impostazioni sesta sezione titolo operazioni di business*/

.container-title-operation{
    height: 100px;
    max-width: 1300px;
    background-color: yellow;
    margin: 0 auto;
}

.row-title-operation{
    height: 100px;
    max-width: 55%;
    background-color: brown;
    margin: 0 auto;
}

.col-title-operation{
    background-color: aqua;
    border: 1px dashed black;
    width: 100%;
    height: 100px; 
}

/*impostazioni settima sezione operazioni speciali con piano business*/

.container-operation-business{
    height: 700px;
    max-width: 1300px;
    background-color: rgb(151, 151, 145);
    margin: 0 auto;
}

.row-operation-business{
    height: 700px;
    max-width: 55%;
    background-color: brown;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.col33-operation-business{
    background-color: aqua;
    border: 1px dashed black;
    width: calc(100% / 3 - 20px);
    height: 700px;
    display: inline-block;
}

/*impostazione ottava sezione bottone scopri di più*/    

.container-discover-button{
    height: 300px;
    max-width: 1300px;
    background-color: yellow;
    margin: 0 auto;
}

.row-discover-button{
    height: 300px;
    max-width: 55%;
    background-color: brown;
    margin: 0 auto;
}

.col-discover-button{
    background-color: aqua;
    border: 1px dashed black;
    width: 100%;
    height: 300px; 
}

/*impostazione nona sezione aziende partner di dropbox*/    

.container-container-partner{
    height: 450px;
    max-width: 1300px;
    background-color: rgb(151, 151, 145);
    margin: 0 auto;
}

.row-container-partner{
    height: 450px;
    max-width: 100%;
    background-color: brown;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.col33-container-partner{
    background-color: rgb(230, 0, 255);
    border: 1px dashed black;
    width: calc(100% / 3);
    height: 450px;
    display: inline-block;
}

/*impostazione decima sezione prova gratuita*/ 

.container-free-trial{
    height: 200px;
    max-width: 1300px;
    background-color: rgb(151, 151, 145);;
    margin: 0 auto;
}

.row-free-trial{
    height: 200px;
    max-width: 55%;
    background-color: brown;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.col60-free-trial{
    background-color: aqua;
    border: 1px dashed black;
    width: 60%;
    height: 100%; 
}

.col40-free-trial{
    background-color: rgb(254, 177, 255);
    border: 1px dashed black;
    width: 40%;
    height: 100%; 
}