/*impostazioni generali*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*impostazioni header e nav*/

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    margin: auto;
    max-width: 1300px;
    height: 60px;
    display: flex;
}

.row-menu-header{
    height: 20px;
    width: 1300px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.col-logo{
    width: 10%;
    height: 100%;
    position: relative;
}

.col-button-start{
    width: 6%;
    align-items: center;
    position: relative;
}

.col-link-left, .col-link-right{
    width: 44%;
    position: relative;
}

.col-logo > img{
    width: 90px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*impostazioni logo, link e lista*/

ul{
    list-style-type: none;
}

.inline-block{
    display: inline-block;
}

.col-link-right, .col-button-start{
    text-align: right;
}

.item-nav-link-left, .item-nav-link-right{
    font-size: 12px;
    color: black;
}

.item-nav-link-left{
    height: 100%;
    align-items: center;
    margin-right: 20px;
}

.item-nav-link-right{
    height: 100%;
    align-items: center;
    margin-left: 20px;
}

.item-nav-start{
    font-size: 12px;
    color: white;
    background-color: #0061ff;
    padding: 5px 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*impostazioni prima sezione main - jumbodrone*/

.container-jumbodrone{
    background-color: #b4d0e7;
    max-width: 1300px;
    height: 320px;
    display: flex;
    margin: 0 auto;
}

.row-jumbodrone{
    height: 120%;
    width: 850px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.col30-jumbodrone{
    width: 30%;
    height: 80%; 
}

.col70-jumbodrone{
    width: 70%;
    height: 80%; 
}

.col30-jumbodrone p{
    font-size: 12px;
}

.image-jumbo{
    width: 100%;
}

.item-start-free{
    font-size: 12px;
    color: white;
    background-color: #0061ff;
    padding: 5px 10px;
    margin-top: 20px;
}

.item-cancel{
    margin-top: 20px;
}

.arrow-down{
    font-size: 30px;
    margin-top: 45px;
}

/*impostazioni prima sezione jumbodrone-up titolo*/

.container-jumbodrone-up{
    height: 200px;
    max-width: 1300px;
    background-color: #b4d0e7;
    margin: 0 auto;
}

.row-jumbodrone-up{
    height: 100%;
    width: 850px;
    margin: auto;
    align-items: center;
}

.col100-jumbodrone{
    width: 100%;
    height: 100%; 
    position: relative;
}

.title{
    font-size: 55px;
    font-weight: 800;
    position: absolute;
    top: 50px;
}

/*impostazioni seconda sezione sotto-titolo e bottoni di fatturazione*/

.container-central{
    height: 220px;
    max-width: 1300px;
    margin: 0 auto;
}

.row-container-central{
    height: 200px;
    max-width: 55%;
    margin: 0 auto;
}

.col-button-price{
    width: 100%;
    height: 200px; 
    position: relative;
}

.title-button-price{
    font-size: 27px;
    font-weight: 600;
    top: 90px;
    position:absolute
}

.check-button{
    position: relative;
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;
    font-size: 10px;
    top: 170px;
}

/*impostazioni terza sezione piani di business*/

.container-plan-business{
    height: 700px;
    max-width: 1300px;
    margin: 0 auto;
}

.row-plan-business{
    height: 700px;
    max-width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.col33-plan-business{
    border: 1px solid grey;
    width: calc(100% / 3 - 20px);
    height: 700px;
    display: inline-block;
}

.header-icon{
    border-bottom: 2px solid #999;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: 500;
    font-size: 20px;
}

.header-icon-two{
    padding: 25px;
}

.price{
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.timing{
    font-size: 12px;
    color: #a4a3a3;
    margin-bottom: 30px;
}

.user{
    font-size: 12px;
    margin-bottom: 20px;
}

.space{
    font-size: 12px;
    margin-bottom: 20px;
}

.solutions{
    font-size: 12px;
    margin-bottom: 20px;
}

.solutions2{
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.text-white-button{
    color: white;
}

.text-button-enterprice{
    color: white;
    padding: 8px 12px;
    margin-top: -50px;
    margin-left: 500px;
    font-size: 12px;
    background-color: #0061ff;
}

/*impostazioni quarta sezione piano per le aziende*/

.container-team-enterprice{
    height: 300px;
    max-width: 1300px;
    margin: 0 auto;
}

.row-team-enterprice{
    height: 300px;
    max-width: 55%;
    margin: 0 auto;
}

.col-team-enterprice{
    width: 100%;
    margin-top: 30px;
    border: 1px solid #999;
}

/*impostazioni quinta sezione trova un partner*/

.container-partner-contact{
    height: 500px;
    max-width: 1300px;
    margin: 0 auto;
}

.row-partner-contact{
    height: 500px;
    max-width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.col60-partner-contact{
    width: 60%;
    height: 100%; 
}

.col40-partner-contact{
    width: 40%;
    height: 100%; 
}

/*impostazioni sesta sezione titolo operazioni di business*/

.container-title-operation{
    height: 100px;
    max-width: 1300px;
    margin: 0 auto;
}

.row-title-operation{
    height: 100px;
    max-width: 55%;
    margin: 0 auto;
}

.col-title-operation{
    width: 100%;
    height: 100px; 
}

.title-operation{
    font-size: 27px;
    font-weight: 600;
    position:absolute;
}

.title-operation2{
    font-size: 27px;
    font-weight: 600;
    position:absolute;
    margin-top: 90px;
}

/*impostazioni settima sezione operazioni speciali con piano business*/

.container-operation-business{
    max-width: 1300px;
    margin: 0 auto;
}

.row-operation-business{
    max-width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.col33-operation-business{
    width: calc(100% / 3 - 20px);
    display: inline-block;
}

/*impostazione ottava sezione bottone scopri di più*/    

.container-discover-button{
    height: 300px;
    max-width: 1300px;
    margin: 0 auto;
}

.row-discover-button{
    height: 300px;
    max-width: 55%;
    margin: 0 auto;
}

.col-discover-button{
    width: 100%;
    height: 300px; 
    position: relative;
}

.text-decoration-none{
    text-decoration: none;
}

.button-scopri{
    top: 180px;
    position: absolute;
}


/*impostazione nona sezione aziende partner di dropbox*/    

.container-container-partner{
    height: 450px;
    max-width: 1300px;
    margin: 0 auto;
}

.row-container-partner{
    height: 450px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.col33-container-partner{
    width: calc(100vw / 3);
    height: 450px;
    display: inline-block;
    background-color: #e4e3e3;
}

.row50-container-partner{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.col50-container-partner{
    width: 50%;
    height: 50%;
    flex-wrap: wrap;
    position: relative;
}

.width70{
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.designit-width{
    width: 50%;
    margin: 30px;
}

.designit-sub-title{
    padding: 30px;
}

.image-white{
    filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(7496%) hue-rotate(103deg) brightness(107%) contrast(101%);
}

.partner-one{
    background-color: #a2d39b;
}

.partner-two{
    background-color: #61082b;
}

.partner-three{
    background-color: #0093ce;
}

.partner-four{
    background-color: #ff1c1c;
}

.partner-five{
    background-color: #d5001f;
}

.partner-six{
    background-color: #b4d0e7;
}

.partner-seven{
    background-color: #0d2481;
}

.partner-eigth{
    background-color: #ffd830;
}

/*impostazione decima sezione prova gratuita*/ 

.container-free-trial{
    height: 200px;
    max-width: 1300px;
    background-color: #b4d0e7;
    margin: 0 auto;
}

.row-free-trial{
    height: 200px;
    max-width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.col60-free-trial{
    width: 60%;
    height: 100%; 
}

.col40-free-trial{
    width: 40%;
    height: 100%; 
}

.title-operation3{
    font-size: 27px;
    font-weight: 600;
    position:absolute;
    margin-top: 60px;
    color: #61082b;
}

.item-start-free2{
    font-size: 12px;
    color: black;
    background-color: white;
    padding: 5px 10px;
    margin-top: 70px;
    float: right;
}

/*impostazione undicesima sezione domande frequenti*/ 

.container-questions{
    height: 430px;
    max-width: 1300px;
    margin: 0 auto;
}

.row-questions{
    height: 430px;
    max-width: 55%;
    margin: 0 auto;
}

.col-questions{
    width: 100%;
    height: 430px; 
}

.title-operation-questions{
    font-size: 27px;
    font-weight: 600;
    margin-top: 90px;
    width: 700px;
    height: 80px;
    border-bottom: 1px solid gray;
}

.title-operation-questions2{
    font-size: 12px;
    font-weight: 600;
    margin-top: 30px;
    width: 700px;
    height: 50px;
    border-bottom: 1px solid gray;
}

.title-operation-questions2::after{
    content:"\22CE";
    float:right
}

/*impostazioni dodicesima sezione footer*/

.container-footer{
    max-width: 1300px;
    display: flex;
    margin: auto;
    background-color: #000000;
}

.row-footer{
    padding-top: 50px;
    width: 850px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.col20-footer{
    height: 250px;
    margin-bottom: 35px;
    width: calc(80% / 5)
}

.border-bottom{
    border-bottom: 1px solid white ;
}

.title-ita{
    display: inline-block;
    color: white;
    font-size: 12px;
}

.item-footer-link-title{
    margin-top: 5px;
    color: white;
    padding-right: 25px;
    font-size: 20px;
}

.list-footer{
    margin-top: 10px;
    color: white;
    font-size: 10px;
}

/*impostazioni navigatore del footer*/

.container-language{
    background-color: #000000;
    max-width: 1300px;
    height: 100px;
    display: flex;
    margin: 0 auto;
} 

.row-language{
    width: 850px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 75px;
    margin-bottom: 0;
    align-items: center;
}

.title-footer{
    color: white;
}

.link-footer{
    font-size: 13px;
    margin-top: 15px;
    line-height: 25px;
    text-decoration: none;
    color: white;
}

.title-ita::after{
    content:"\25b2";
}